# Copyright (c) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig USB_DEVICE_DFU
	bool "USB DFU Class Driver"
	default n
	help
	  Enables USB DFU Device support.

if USB_DEVICE_DFU

config USB_DFU_DEVICE_MANUFACTURER
	string
	prompt "USB manufacturer name"
	default "Actions"
	help
	  USB dfu device manufacturer string, can be configured by vendor.

config USB_DFU_DEVICE_PRODUCT
	string
	prompt "USB product name"
	default "USB-DFU-DEV"
	help
	  USB dfu device product string, can be configured by vendor.

config USB_DFU_DEVICE_SN
	string
	prompt "USB serial number"
	default "0123456789AB"
	help
	  USB dfu device serialnumber string, can be configured by vendor.

config USB_DFU_DEVICE_SN_NVRAM
	string
	prompt "get serial number from NVRAM"
	default "BT_MAC"
	help
	  get USB dfu device serial number string from NVRAM, can be configured by vendor.

config USB_DFU_DEVICE_VID
	hex "USB DFU Vender ID"
	default 0x10d6
	help
	  USB device product ID in DFU mode. MUST be configured by vendor.

config USB_DFU_DEVICE_PID
	hex "USB DFU Product ID"
	default 0xb018
	help
	  USB device product ID in DFU mode. MUST be configured by vendor.

config USB_DFU_WAIT_DELAY_MS
	int "wait_for_usb_dfu() timeout"
	default 12000
	range 1000 120000
	help
	  A thread can use wait_for_usb_dfu() call for wait a prescribed
	  time (in ms) for DFU to begin

config USB_DFU_DETACH_TIMEOUT
	int
	default 1000

config USB_DFU_DEFAULT_POLLTIMEOUT
	int "Default value for bwPollTimeout"
	default 256
	range 0 1000
	help
	  Default value for bwPollTimeout (in ms)

config SYS_LOG_USB_DFU_LEVEL
	int "USB DFU device class driver log level"
	depends on SYS_LOG
	default 0
	help
	  Sets log level for USB DFU device class driver

	  Levels are:

	  - 0 OFF, do not write

	  - 1 ERROR, only write SYS_LOG_ERR

	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level

	  - 3 INFO, write SYS_LOG_INF in addition to previous levels

	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

endif # USB_DEVICE_DFU
