# Kconfig - Actions Bluetooth SoC platform configuration options

#
# Copyright (c) 2018 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_ATS2875_LEGACY

config SOC
	string
	default ats2875_legacy

config SOC_SERIES_ANDESC_P2
	bool "actions andesc P2 series"
	default y

endif # SOC_ATS2875_LEGACY
