# Kconfig - Actions Bluetooth SoC platform configuration options

#
# Copyright (c) 2018 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_ATS2831P

config SOC
	string
	default ats2831p


endif # SOC_ATS2831p
