att_bin/outbin/
att_patterns/*/*/*.ld
att_patterns/*/*/*.d
att_patterns/*/*/andes/*.d
att_patterns/*/*/andes/*.ld
att_patterns/*/*/andes/*.bin
att_patterns/*/*/andes/*.elf
att_patterns/*/*/andes/*.lst
att_patterns/*/*/andes/*.map
att_patterns/*/andes/*.d
att_patterns/*/andes/*.ld
att_patterns/*/andes/*.bin
att_patterns/*/andes/*.elf
att_patterns/*/andes/*.lst
att_patterns/*/andes/*.map
att_patterns/*/*.d
att_patterns/*/*.ld
att_patterns/lib/andes/libatt.a

