# GATT Services

# Copyright (c) 2018 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

menu "GATT Services"
	depends on BT_CONN

source "ext/actions/bluetooth/bt_stack/services/Kconfig.dis"

source "ext/actions/bluetooth/bt_stack/services/Kconfig.bas"

source "ext/actions/bluetooth/bt_stack/services/Kconfig.hrs"

source "ext/actions/bluetooth/bt_stack/services/Kconfig.tps"

source "ext/actions/bluetooth/bt_stack/services/Kconfig.hids"

source "ext/actions/bluetooth/bt_stack/services/Kconfig.cts"

source "ext/actions/bluetooth/bt_stack/services/ots/Kconfig"

endmenu
