# Kconfig - ACTIONS primitive options for sdk version 2.0

#
# Copyright (c) 2015 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config BT_STACK
	bool
	prompt "Blutooth Stack Support"
    select BLUETOOTH_PORTING
	select ACTS_TRANSCODE
	default n
	help
	This option enables actions Blutooth Stack.

source "ext/actions/bluetooth/bt_stack/Kconfig"

menuconfig BLUETOOTH
	bool
	prompt "BlueTooth"
	default n
	#select BT_MANAGER
	help
	This option enables actions bluetooth funcion.

config BT_MANAGER
    bool
    prompt "Bt Manager Support"
	select BT_SERVICE
	#select BT_STACK
	#select BLUETOOTH_PORTING
	select ACTS_TRANSCODE
    default n
    help
    This option enables bt manager.

config BT_SERVICE
	bool
	prompt "Blutooth Service Support"
	select THREAD_TIMER
	default n
	help
	This option enables actions Blutooth service.

config BT_DOUBLE_PHONE
    bool
    prompt "Bt double phone Support"
	depends on BT_MANAGER
    default n
    help
    This option enables Bt double phone manager.

config BT_DOUBLE_PHONE_EXT_MODE
    bool
    prompt "Bt double phone ext mode Support"
    depends on BT_DOUBLE_PHONE
    default n
    help
    This option enables Bt double phone ext mode Support.

config BT_DOUBLE_PHONE_PREEMPTION_MODE
    bool
    prompt "Bt double phone preemption mode Support"
    depends on BT_DOUBLE_PHONE
    default n
    help
    This option enables Bt double phone preemption mode Support.

config BT_DOUBLE_PHONE_TAKEOVER_MODE
    bool
    prompt "Bt double phone takeover mode Support"
    depends on BT_MANAGER
    default n
    help
    This option enables Bt double phone takeover mode Support.    

config BT_PHONE_FILTER_PROMPT_TONE
    bool
    prompt "Bt phone filter prompt tone Support"
    depends on BT_MANAGER
    default n
    help
    This option enables Bt phone filter prompt tone Support.

config BT_DOUBLE_PHONE_TAKEOVER_POLICY
    int
    prompt "Bt double phone takeover policy"
    default 1
    help
    This option enables Bt double phone takeover policy.

config MUTI_POINT_USER_PAUSE_POLICY
	int
	prompt "1: When user press pause button, it is deemed to be device stop playing"
	default 0

config BT_PHONE_ROLE_MASTER
    bool
    prompt "Set bt phone role to master"
	depends on BT_MANAGER
    default n
    help
    This option enables Set bt phone role to master.

config BT_PHONE_ROLE_SLAVE
    bool
    prompt "Set bt phone role to slave"
	depends on BT_MANAGER
    default n
    help
    This option enables Set bt phone role to slave.
    
config BT_BLE
    bool
    prompt "Bt Ble Support"
	depends on BT_MANAGER
	depends on BT_LE_ATT
    default n
    help
    This option enables bt manager.


config BT_AVRCP_GET_ID3
    bool
    prompt "Bt avrcp get ID3 Support"
    depends on BT_MANAGER
    default n
    help
    This option enables Bt avrcp get ID3 .


config BT_A2DP_AAC
    bool
    prompt "Bt a2dp aac Support"
	depends on BT_MANAGER
    default n
    help
    This option enables bt a2dp aac.

config BT_A2DP_LDAC
    bool
    prompt "Bt a2dp ldac Support"
	depends on BT_MANAGER
    default n
    help
    This option enables bt a2dp ladc.
    
config BT_A2DP_MAX_BITPOOL
    int
    prompt "Bt a2dp bit pool config"
	depends on BT_A2DP
    default 53
    help
    This option enables bt a2dp bit pool.

config BT_DEV_NAME
    string
    prompt "bt device name"
    depends on BT_MANAGER
    help
    This option specifies bt device classic name

config TWS
    bool
    prompt "bt manager Support tws"
	depends on BT_MANAGER
    default n
    help
    This option enables bt tws.

config TWS_MONO_MODE
    bool
    prompt "bt manager Support tws mono mode"
	depends on TWS
    default n
    help
    This option enables bt tws mono mode.

config TWS_BACKGROUND_BT
    bool
    prompt "bt manager Support local tws support background bt"
	depends on TWS
    default n
    help
    This option enables local tws support background bt.

config BT_HFP_TWS
    bool
    prompt "bt manager Support hfp tws"
    depends on TWS
    default n
    help
    This option enables bt hfp tws.

config CSB
    bool
    prompt "bt manager Support csb"
	depends on BT_MANAGER
    default n
    help
    This option enables bt csb.

config MGR_TEST_SAMPLE
    bool
    prompt "bt manager test sample"
	depends on BT_MANAGER
    default n
    help
    This option enables bt manager test sample.

config BT_TWS_US281B
    bool
    prompt "Whether adaptive to us281b tws"
    default n
    depends on BT_SERVICE
    help
    This option set whether adaptive to us281b tws

config BT_LE_AUDIO_LOW_LATENCY
	bool
	prompt "BT LE Audio low latency mode Support"
	depends on BT_MANAGER
	depends on BT_LE_ATT
	default n
	help
	  This option enables bt le audio low latency mode.

config BT_LE_AUDIO_BUF_SIZE
	int
	prompt "BT LE Audio Buffer Size"
	depends on BT_MANAGER
	default 4096
	help
	  This option defines buffer size for bt le audio.

config BT_LE_AUDIO_ENCRYPT
	bool
	prompt "BT LE Audio Service Encryption Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le audio service encryption.

config BT_ASCS_SERVICE
	bool
	prompt "BT LE ASCS Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le ascs service.

config BT_CSIS_SERVICE
	bool
	prompt "BT LE CICS Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le cics service.

config BT_MCS_SERVICE
	bool
	prompt "BT LE MCS Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le mcs service.

config BT_MICS_SERVICE
	bool
	prompt "BT LE MICS Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le mics service.

config BT_PACS_SERVICE
	bool
	prompt "BT LE AICS Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le aics service.

config BT_TBS_SERVICE
	bool
	prompt "BT LE TBS Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le tbs service.

config BT_VCS_SERVICE
	bool
	prompt "BT LE VCS Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le vcs service.

config BT_CAS_SERVICE
	bool
	prompt "BT LE CAS Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le cas service.

config BT_AUDIO_VND_SERVICE
	bool
	prompt "BT LE Audio Vendor Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le audio vendor service.

config BT_TMAS_SERVICE
	bool
	prompt "BT LE TMAS Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le tmas service.

config BT_BASS_SERVICE
	bool
	prompt "BT LE BASS Service Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt le bass service.

config BT_PAWR
	bool
	prompt "BT PER ADV WITH RSP"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt pawr.	  

config GFP_PROFILE
	bool
	prompt "GFP Support"
	default n
	help
	This option enable or disable gfp

config BT_GATT_OVER_BR
    bool "BT GATT OVER BR Support"
    default n
    help
    This option enables bt gatt over br.

 config BT_VENDOR_ID
    hex
    prompt "BT Vendor id"
    depends on BT_MANAGER
    default 0x03E0
    help
        This option defines Vendor ID bt device id.

config BT_PRODUCT_ID
	hex
	prompt "BT Product id"
	depends on BT_MANAGER
	default 0x0001
	help
		This option defines Product ID bt device id.

config BT_LEATWS
	bool
	prompt "BT LEATWS Support"
	depends on BT_MANAGER
	default n
	help
	  This option enables bt leatws.

config BT_LEATWS_FL
	bool
	prompt "BT LEATWS Set Left Channel"
	depends on BT_LEATWS
	default n
	help
	  This option bt leatws set left channel.

config BT_LEATWS_FR
	bool
	prompt "BT LEATWS Set Right Channel"
	depends on BT_LEATWS
	default n
	help
	  This option bt leatws set right channel.

config BT_LETWS
  bool
  prompt "enable letws"
	depends on BT_MANAGER
  default n

config BT_PER_ADV_SYNC_TRANSFER_SENDER
  bool   
  depends on BT_MANAGER
  default n
    