# Kconfig - Actions SoC PWM configuration options
#
#
# Copyright (c) 2018 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig PWM_ACTS
	bool "Actions SoC PWM driver"
	depends on PWM
	default n
	help
	  This option enables the PWM driver for Actions SoC.
	  Say y if you wish to use PWM port on Actions SoC.

if PWM_ACTS

config PWM_ACTS_DEV_NAME
	string "Actions SoC PWM Device Name"
	depends on PWM_ACTS
	default "PWM_0"
	help
	  Specify the device name for the Actions SoC PWM driver.

config PWM_CLK_SRC
	int "PWMs clock source selection"
	depends on PWM_ACTS
	default 0
	range 0 2
	help
	  Set clock source of PWMs for Actions Soc.
	    - 0: RC32K
		- 1: HOSC
		- 2: CK64M

config PWM_CLK_DIV
	int "Set the divisor of PWMs clock source"
	depends on PWM_ACTS
	default 16
	range 0 260
	help
	  Set the divisor of PWMs clock source for Actions Soc.
	    - 0: /1
		- 1: /2
		- 255: 256
		- 256: 512
		- 257: 1024
		- 258: 2048
		- 259: 4096
		- 260: 8192

endif # PWM_ACTS
